!venv/Lib/
!venv/Lib/site-packages/
!venv/Lib/site-packages/prodigyopt/
/venv

.idea
*.bak
*.pyc
*.swp
*~
debug*.ipynb
debug*.py
/debug*

# user data
/workspace*
/models*
/training_concepts
/training_presets
/training_samples
/training_deltas
/training_user_settings
/external
/update.var
config.json
secrets.json
extLayers.py
extPt.py
fixLora.py
fixPt.py
limpaLayer.py
*.txt

# environments
/.venv*
/venv*
/conda_env*
.python-version
*.egg-info

# pixi environments
.pixi
pixi.lock
pixi.toml

# misc files
/src
train.bat
debug_report.log
secrets.json
